.header {
  display: flex;
  justify-content: space-between;
  padding: 93px 70px 75px;
  background: #F3C1F8;
}

.header__title {
  max-width: 640px;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  margin: 0;
}

.header__text {
  max-width: 310px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 36px 0 0;
  opacity: 0.5;
}

.header__button {
  cursor: pointer;
  background: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid #000000;
  border-radius: 3px;
  padding: 10px 20px;
  margin: 146px 0 0;
  transition: opacity 0.3s ease-in-out ;
}

.header__button:hover {
  opacity: 0.6;
}

.header__image {
  width: 310px;
  height: 304px;
}
