.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 70px 0;
}

.navigation__container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navigation__link {
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}

.navigation__button-link {
  padding: 8px 20px;
  border-radius: 3px;
  background: #000000;
  color: #ffffff;
}

.navigation_pink {
  background: #F3C1F8;
}
